[submodule "semeval-2020-task-7-humicroedit"]
	path = official
	url = https://github.com/n-hossain/semeval-2020-task-7-humicroedit
[submodule "comet-commonsense"]
	path = comet
	url = https://github.com/atcbosselut/comet-commonsense.git
[submodule "ASER"]
	path = ASER
	url = https://github.com/HKUST-KnowComp/ASER.git
